@font-face {
    font-family: "Roboto-Bold";
    src: url("../src/fonts/Roboto-Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../src/fonts/Roboto-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "Roboto-Regular", Arial, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    background-image: url(../src/texture.jpg);
}

header {
    position:fixed;
    top: 0px;
    left:20px;
    width: 100vw;
    box-sizing: border-box;
    height: 110px;
    line-height: 80px;
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
    background-color: #0b1f45;
    vertical-align: top;
    box-shadow: 5px 5px 5px #1f4ea7;
}

.header-logo {
    height: 80px;
    vertical-align: top;
}

header h1 {
    display:inline-block;
    margin: 0 0 0 80px;
    padding: 0;
    line-height: 80px;
    font-family: "Roboto-Bold";
    font-size: 50px;
    text-shadow: 3px 2px 7px aqua;
}

.container {
    box-sizing: border-box;
    max-width: 900 px;
    margin: 0 auto;
    vertical-align: center;
}

main {
    box-sizing: border-box;
    display: inline-block;
    margin: 160px 0 20px 20px;
    width: 600px;
    padding: 20px;
    background-color: #ffffff80;
    border-radius: 20px;
    text-shadow: 1px 1px 1px #ffffff, 1px 1px 1px #ffffff;
}

main h2 {
    font-family: "Roboto-Bold";
}

main img {
    width: 100%;
    border-radius: 20px;
}
aside {
    position: sticky;
    top: 100px;
    display: inline-block;
    vertical-align: top;
    width: 260px;
}
aside img {
    width: 240px;
    margin-bottom: 20px;
    border-radius: 20px;
    top: 40px;
    left: 40px;
    position: relative;
}
aside img:hover{
    width: 280px;
}
footer {
    box-sizing: border-box;
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
    background-color: #0b1f45;
    height: 110px;
    width: 100vw;
    box-shadow: 0 0 10px #1f4ea7;
}

.foot {
    box-sizing: border-box;
    display:inline-block;
    width: 260px;
    vertical-align: top;
    text-align: left;
}
.foot:nth-child(2) {
    margin: 0 40px;
}
.foot:last-child {
    text-align: right;
}
.foot img {
    margin-top: 5px;
   height: 80px;
   display: inline-block;
}